<!-- <input #no1 placeholder="Enter First No">
<br><br>
<input #no2 placeholder="Enter Second No">
<br><br>
<button (click)="add(no1.value, no2.value)">+</button> 
<button (click)="sub(no1.value, no2.value)">-</button>
<button (click)="divide(no1.value, no2.value)">/</button>
<button (click)="multiply(no1.value, no2.value)">*</button>
<br><br>
<label> result : {{result}}</label>
<br><br>

{{name}}
<input #my placeholder="changename">
<button (click) ="changeText(my.value)">Chane</button>
<br><br><br><br><br><br> -->

<!-- <app-product></app-product> -->
<app-product-list></app-product-list>
