<div class="container" >
  
    <!-- header is the first item for the container-->
    <div class="header">
                <div class="item1">
                  
                        <label >Home</label>
                    </div>
                <div class="item2">
                        <label >About</label>
                      
                </div>
                <div class="item3">
                    <label >Contact</label>
                          
                    </div>
                    <div class="icon">
                      
                      <mat-icon>home</mat-icon>
                    </div>
                 
  
          </div>
  
         
  </div>

  <div class="container"><div class="container22">
            <div class="container_2">

                <p>Month: September<br>Name: Deepti</p>
</div>  </div>
<div class="container22">
  <div class="container_2">
        <p>Total:<br>Last Saving:</p>
</div></div>  </div>
  <div class="container" >

            <label >Salary : </label>
            <input matInput placeholder="" value=""><br>
            <label >Home Loan : </label>
            <input matInput placeholder="" value=""><br>
            <label >Interest : </label>
            <input matInput placeholder="" value=""><br>
            <label >Personal Loan : </label>
            <input matInput placeholder="" value=""><br>
            <label >Rent</label>
            <input matInput placeholder="" value="">

                    
      </div>

      <div class="container">
            <label >Electricity Bill : </label>
            <input matInput placeholder="" value=""><br>
            <label >EMI : </label>
            <input matInput placeholder="" value="">
        
                      
</div>

  